body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f6f6ef;
}

.container {
  width: 85%;
  margin: 0 auto;
}

h1 {
  font-size: 1.5em;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 0.5em 0;
}

a {
  text-decoration: none;
  color: #0056b3;
}

a:hover {
  text-decoration: underline;
}
